
/*
    color palette
    burgundy: #591f29
    biege: #f9f5e5
    gray: #827e7c
    pinkish: #f7ddd9
*/

body, html {
  background-color: #f8eee7;
  padding: 0px;
  margin: 0px; /* Stretches all the bgs across the entire page */
  height: 100%;
  font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
}

body > header{
  margin-bottom: 50px;
  position: relative;
}

.header-bg {
  background-image: url(../img/home-cover.jpg);
  height: 100%;
  background-repeat: no-repeat;
  background-color: #f4dec8;
  background-size: cover;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #212529;
    opacity: .5;
}

section {
  margin: 20px;
  padding: 20px;
}

/* Creates a responsive wrapper that makes our content scale nicely */
.inner {
    position: relative;
    margin: 200px auto;
}

.page-title {
  text-align: center;
  font-size: 60px;
  color: #f8eee7;
}

p {
  font-family: verdana;
  font-size: 16px;
}


/* Container holding the image and the text */
.container {
    padding: 0% 15%;
    margin-right: auto;
    margin-left: auto;
}

.blog-summaries {
    margin-right: auto;
    margin-left: auto;
    max-width: 75%;
}


/********* Navigation Bar ***********/

.topnav {
    position: relative;
    overflow: hidden;
}

.topnav-right {
    float: right;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #f8eee7;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  color: white;
  border-bottom: 5px solid #94618e;
}

/**** Blog preview *****/
.blog-preview-section {
  border-width: medium;
  border-style: none solid none solid;
  border-radius: 8px;
  padding: 10px 5px 25px 30px;
  margin: 0px 0px 50px 0px;
}

.blog-preview-header > h2 {
    font-size: 25px;
    padding-bottom: 0px;
    margin-bottom: auto;

}

.blog-preview-header > p {
    font-size: 14px;
    padding: 0px;
    margin: 0px;
    font-style: italic;
}

/********* Main Footer **********/

.footer-list {
    list-style: none;
    text-align: center;
    padding: 0px;
}

.footer-list > li {
    display: inline;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-linkedin {
  background: rgb(36, 41, 46);
  color: white;
}

.fa-github {
  background: rgb(36, 41, 46);
  color: white;
}

.legal {
    text-align: center;
    padding: 5px;
    margin: 0px;
}
